<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{console.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{allUsers})"></h1>
            </section>

            <hr>

            <!-- No Users -->
            <section id="noUsers"
                     class="text-center mb-3"
                     th:if="${#lists.isEmpty(userAdminDtos)}">
                <span th:text="#{noUsers}"
                      style="font-weight: bold">no users</span>
            </section>

            <!-- Users -->
            <section id="users"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(userAdminDtos)}">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead class="green white-text">
                                <tr>
                                    <th th:text="#{registrationDate}">date</th>
                                    <th th:text="#{firstName}">first name</th>
                                    <th th:text="#{lastName}">last name</th>
                                    <th th:text="#{view}">view</th>
                                    <th th:text="#{delete}">delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="userAdminDto : ${userAdminDtos}">
                                    <td th:text="${#temporals.format(userAdminDto.registrationDateTime,
                                        'dd/MM/yyyy')}">date</td>
                                    <td th:text="${userAdminDto.firstName}">first</td>
                                    <td th:text="${userAdminDto.lastName}">last</td>
                                    <td><a th:href="@{/admin/user/{userId}/post(userId=${userAdminDto.id})}"
                                           th:text="#{view}">view</a></td>
                                    <td><a id="delete"
                                           th:text="#{delete}"
                                           th:href="@{/admin/all/user/{userId}/delete
                                           (userId=${userAdminDto.id})}">delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- Pagination and Back Button-->
            <section id="paginationBack"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(userAdminDtos)}">
                <nav aria-label="Page navigation example" class="mr-auto">
                    <ul class="pagination pg-blue">
                        <li class="page-item"
                            th:each="i : ${pageNumbers}"
                            th:classappend="${currentPage  == i} ? active : ''">
                            <a th:text="${i}"
                               class="page-link"
                               th:href="@{/admin/all/user(page=${i})}">1</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </main>
    </div>

    <!-- Modal Change Password Form -->
    <div class="modal fade" id="modalChangePasswordForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold"
                        th:text="#{changePassword}">change password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/change/password}" method="post">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="password"
                                   id="defaultForm-password"
                                   class="form-control validate"
                                   name="newPassword"
                                   required>
                            <label data-error="wrong" data-success="right"
                                   for="defaultForm-password"
                                   th:text="#{newPassword}">password</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-indigo" type="submit"
                                th:text="#{submit}">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
    <script th:replace="fragments/confirmFragment :: confirm"></script>
</body>
</html>