<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{console.page.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{console.page.heading})"></h1>
            </section>

            <hr>

            <section id="noUsers"
                     class="text-center mb-3"
                     th:if="${#lists.isEmpty(adminUserDtos)}">
                <span th:text="#{console.page.no.users}"
                      style="font-weight: bold">no users</span>
            </section>

            <!-- Users -->
            <section id="users"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(adminUserDtos)}">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead class="green white-text">
                                <tr>
                                    <th th:text="#{console.page.user.table.heading.registrationDate}">date</th>
                                    <th th:text="#{console.page.user.table.heading.firstName}">first name</th>
                                    <th th:text="#{console.page.user.table.heading.lastName}">last name</th>
                                    <th th:text="#{console.page.user.table.heading.view}">view</th>
                                    <th th:text="#{console.page.user.table.heading.delete}">delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="adminUserDto : ${adminUserDtos}">
                                    <td th:text="${#temporals.format(adminUserDto.registrationDateTime, 'dd/MM/yyyy')}">date</td>
                                    <td th:text="${adminUserDto.firstName}">first</td>
                                    <td th:text="${adminUserDto.lastName}">last</td>
                                    <td>view</td>
                                    <td>delete</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- Pagination -->
            <section id="pagination" class="mb-3"
                     th:if="${!#lists.isEmpty(userDtos)}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item"
                            th:each="i : ${pageNumbers}"
                            th:classappend="${currentPage  == i} ? active : ''">
                            <a th:text="${i}"
                               class="page-link"
                               th:href="@{/admin/all/users(page=${i})}">1</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>