<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{postComments.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{postComments})"></h1>
            </section>

            <hr>

            <!-- Page Sub Heading -->
            <section id="subHeading" class="mb-3 text-center">
                <h3 th:text="#{postComments.caption(${postCommentAdminDto.title})}"></h3>
            </section>

            <!-- No Posts -->
            <section id="noPosts"
                     class="mb-3 text-center"
                     th:if="${#lists.isEmpty(postCommentAdminDto.commentAdminDtos)}">
                <span th:text="#{noPosts}"
                      style="font-weight: bold">no posts</span>
            </section>

            <!-- Comments -->
            <section id="comments"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(postCommentAdminDto.commentAdminDtos)}">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead class="green white-text">
                            <tr>
                                <th th:text="#{addedDate}">date</th>
                                <th th:text="#{comment}">comment</th>
                                <th th:text="#{delete}">delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="commentAdminDto : ${postCommentAdminDto.commentAdminDtos}">
                                <td th:text="${#temporals.format(commentAdminDto.addingDateTime,
                                    'dd/MM/yyyy')}">date</td>
                                <td th:text="${commentAdminDto.message}">comment</td>
                                <td><a id="delete"
                                       th:text="#{delete}"
                                       th:href="@{/admin/post/{postId}/comment/{commentId}/delete
                                       (postId=${postCommentAdminDto.id}, commentId=${commentAdminDto.id})}">
                                    delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- Pagination and Back Button -->
            <section id="paginationBack"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(postCommentAdminDto.commentAdminDtos)}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item"
                            th:each="i : ${postCommentAdminDto.pageNumbers}"
                            th:classappend="${postCommentAdminDto.currentPage  == i} ? active : ''">
                            <a th:text="${i}"
                               class="page-link"
                               th:href="@{/admin/post/{postId}/comment
                               (postId=${postCommentAdminDto.id}, page=${i})}">1</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <div th:replace="fragments/closeFragment :: close('/admin/user/' +
                 ${postCommentAdminDto.userId} + '/post')"></div>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
    <script th:replace="fragments/confirmFragment :: confirm"></script>
</body>
</html>