<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{userPosts.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{userPosts})"></h1>
            </section>

            <hr>

            <!-- Page Sub Heading -->
            <section id="subHeading" class="mb-3 text-center">
                <h3 >
                    <span style="background-color: #00acc1"
                          th:text="#{userPosts.caption(${userPostAdminDto.firstName})}"></span>
                </h3>
            </section>

            <!-- No Posts -->
            <section id="noPosts"
                     class="mb-3 text-center"
                     th:if="${#lists.isEmpty(userPostAdminDto.postAdminDtos)}">
                <span th:text="#{noPosts}"
                      style="font-weight: bold">no posts</span>
            </section>

            <!-- Posts -->
            <section id="posts"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(userPostAdminDto.postAdminDtos)}">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead class="green white-text">
                                <tr>
                                    <th th:text="#{createdDate}">date</th>
                                    <th th:text="#{title}">title</th>
                                    <th th:text="#{view}">view</th>
                                    <th th:text="#{delete}">delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="postAdminDto : ${userPostAdminDto.postAdminDtos}">
                                    <td th:text="${#temporals.format(postAdminDto.creationDateTime,
                                        'dd/MM/yyyy')}">date</td>
                                    <td th:text="${postAdminDto.title}">title</td>
                                    <td><a th:href="@{/admin/post/{postId}/comment(postId=${postAdminDto.id})}"
                                           th:text="#{view}">view</a></td>
                                    <td><a id="delete"
                                           th:text="#{delete}"
                                           th:href="@{/admin/user/{userId}/post/{postId}/delete
                                           (userId=${userPostAdminDto.id}, postId=${postAdminDto.id})}">delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- Pagination and Back Button-->
            <section id="paginationBack"
                     class="mb-3"
                     th:if="${!#lists.isEmpty(userPostAdminDto.postAdminDtos)}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item"
                            th:each="i : ${userPostAdminDto.pageNumbers}"
                            th:classappend="${userPostAdminDto.currentPage  == i} ? active : ''">
                            <a th:text="${i}"
                               class="page-link"
                               th:href="@{/admin/user/{userId}/post(userId=${userPostAdminDto.id}, page=${i})}">1</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <div th:replace="fragments/closeFragment :: close('/admin/all/user')"></div>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
    <script th:replace="fragments/confirmFragment :: confirm"></script>
</body>
</html>