<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{createPost.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{newPost})"></h1>
            </section>

            <hr>

            <!-- Thought -->
            <section id="thought" class="mb-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 col-md-10 col-12">
                        <div class="card">

                            <h5 class="card-header indigo white-text text-center py-4">
                                <strong th:text="#{yourThought}">thought</strong>
                            </h5>

                            <div class="card-body px-lg-5 pt-0">

                                <!-- Form -->
                                <form class="text-center" style="color: #757575;"
                                      method="post"
                                      enctype="multipart/form-data"
                                      th:object="${postCommand}"
                                      th:action="@{/user/create/post}">

                                    <!-- Title -->
                                    <div class="md-form">
                                        <input type="text"
                                               id="title"
                                               class="form-control"
                                               th:field="*{title}">
                                        <label for="title"
                                               th:text="#{title}">
                                            first name</label>
                                        <p th:each="error : ${#fields.errors('title')}"
                                           th:text="${error}" class="text-danger">error</p>
                                    </div>

                                    <!-- Body -->
                                    <div class="md-form">
                                        <textarea id="body"
                                                  class="form-control md-textarea"
                                                  rows="10"
                                                  th:field="*{body}"></textarea>
                                        <label for="body"
                                               th:text="#{bodyHtml}">
                                            Message</label>
                                        <p th:each="error : ${#fields.errors('body')}"
                                           th:text="${error}" class="text-danger">error</p>
                                    </div>

                                    <!-- Image -->
                                    <div class="md-form custom-file">
                                        <input type="file"
                                               accept="image/jpeg"
                                               class="form-control custom-file-input"
                                               id="postImage"
                                               th:field="*{photo}">
                                        <label class="custom-file-label"
                                               for="postImage"
                                               style="color: #999"
                                               th:text="#{image}">
                                            image</label>
                                        <p th:each="error : ${#fields.errors('photo')}"
                                           th:text="${error}" class="text-danger">error</p>
                                    </div>

                                    <!-- Caption -->
                                    <div class="md-form">
                                        <textarea id="caption"
                                                  class="form-control md-textarea"
                                                  rows="1"
                                                  th:field="*{caption}"></textarea>
                                        <label for="caption"
                                               th:text="#{imageCaption}">
                                            caption</label>
                                        <p th:each="error : ${#fields.errors('caption')}"
                                           th:text="${error}" class="text-danger">error</p>
                                    </div>

                                    <!-- Submit Button -->
                                    <button class="btn btn-outline-indigo btn-block my-4 waves-effect z-depth-0"
                                                     type="submit"
                                                     th:text="#{submit}">submit
                                </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/closeFragment :: close('/index.html')"></div>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>