<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{myProfile.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{userProfile})"></h1>
            </section>

            <hr>

            <!-- Profile -->
            <section id="profile" class="mb-3">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 col-md-10 col-12">

                        <div class="card">

                            <!-- Image -->
                            <div class="mx-auto">
                                <img th:if="${userProfileDto.image == null}"
                                     th:src="@{/img/avatar.jpg}"
                                     src="../../static/img/avatar.jpg"
                                     class="rounded-circle" alt="woman avatar"
                                     width="300" height="300">

                                <img th:if="${userProfileDto.image != null}"
                                     th:src="@{/user/get/image}"
                                     src="../../static/img/avatar.jpg"
                                     class="rounded-circle" alt="woman avatar"
                                     width="200" height="200">
                            </div>

                            <div class="card-body">

                                <!-- Change Image Button -->
                                <div class="card-title text-center">
                                    <a class="btn btn-indigo btn-sm"
                                            th:href="@{/user/change/image/form}">
                                        Change Image</a>
                                </div>
                                <hr>

                                <!-- User Data -->
                                <table style="width: 400px" class="table table-borderless mx-auto">
                                    <tr>
                                        <td th:text="#{firstName} + ':'" class="text-right"
                                            style="font-weight: bold;">first name</td>
                                        <td th:text="${userProfileDto.firstName}">first</td>
                                    </tr>
                                    <tr>
                                        <td th:text="#{lastName} + ':'" class="text-right"
                                            style="font-weight: bold;">last name</td>
                                        <td th:text="${userProfileDto.lastName}">last</td>
                                    </tr>
                                    <tr>
                                        <td th:text="#{email} + ':'" class="text-right"
                                            style="font-weight: bold;">email</td>
                                        <td th:text="${userProfileDto.email}">email</td>
                                    </tr>
                                    <tr>
                                        <td th:text="#{registrationDate} + ':'" class="text-right"
                                            style="font-weight: bold;">date</td>
                                        <td th:text="${#temporals.format(userProfileDto.registrationDateTime,
                                            'dd/MM/yyyy')}">last</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/closeFragment :: close('/index.html')"></div>
            </section>
        </main>
    </div>



    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>