<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{upload.image.page.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{upload.image.heading})"></h1>
            </section>

            <hr>

            <section id="image">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 col-10">

                        <form method="post" enctype="multipart/form-data"
                              th:action="@{/user/change/image}">

                            <!-- Error -->
                            <div th:if="${error}" class="mt-3 mb-4 text-center">
                                <span class="alert alert-danger"
                                      th:text="#{user.image.upload.error.message}"></span>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file"
                                           class="custom-file-input"
                                           id="myImage"
                                           aria-describedby="inputGroupFileAddon01"
                                           name="myImage">
                                    <label class="custom-file-label"
                                           for="myImage"
                                           th:text="#{choose.link.label}">choose file</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-indigo btn-sm"
                                    th:text="#{submit.link.label}">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>

</body>
</html>