<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{uploadImage.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{changeImage})"></h1>
            </section>

            <hr>

            <!-- Change Image -->
            <section id="image">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-9 col-12">

                        <!-- Form -->
                        <form method="post" enctype="multipart/form-data"
                              th:action="@{/user/change/image}">

                            <!-- Error -->
                            <div th:if="${error}" class="mt-3 mb-4 text-center">
                                <span class="alert alert-danger"
                                      th:text="#{user.image.upload.error.message}"></span>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="inputGroupFileAddon01"
                                          th:text="#{upload}">
                                        Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file"
                                           accept="image/jpeg"
                                           class="custom-file-input"
                                           id="myImage"
                                           aria-describedby="inputGroupFileAddon01"
                                           name="myImage">
                                    <label class="custom-file-label"
                                           for="myImage"
                                           th:text="#{chooseFile}">choose file</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-indigo btn-sm"
                                    th:text="#{submit}">submit</button>
                        </form>
                    </div>
                </div>
                <div th:replace="fragments/closeFragment :: close('/user/profile')"></div>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>

</body>
</html>