<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<header th:fragment="header">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">
        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"
               th:href="@{/index.html}"
               sec:authorize="!isAuthenticated()
                              or hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                              or hasAuthority('USER')">
                <span class="brand-shadow">
                    <i class="fas fa-home fa-1x amber-text" style="padding-right: 2px;"></i>
                    Monad Computer
                </span></a>

            <!-- Admin Navbar brand -->
            <a class="navbar-brand" href="#"
               th:href="@{/admin/console.html}"
               sec:authorize="isAuthenticated()
                              and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                              and hasAuthority('ADMIN')">
                <span class="brand-shadow">
                    <i class="fas fa-home fa-1x amber-text" style="padding-right: 2px;"></i>
                    Monad Computer
                </span></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Visitor links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="!isAuthenticated()
                                   or hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/login}">
                            <span>
                                <i class="fas fa-sign-in-alt amber-text" style="padding-right: 2px;"></i>
                                <span th:text="#{login}">login</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/registration/form}">
                            <span>
                                <i class="fas fa-registered amber-text" style="padding-right: 2px;"></i>
                                <span th:text="#{register}">register</span>
                            </span>
                        </a>
                    </li>
                </ul>

                <!-- User Links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="isAuthenticated()
                                   and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                   and hasAuthority('USER')">
                    <li class="nav-item">
                        <span class="nav-link">
                            <i class="fas fa-award amber-text" style="padding-right: 2px;"></i>
                            <span th:text="#{welcome.message(${session.fullName})}">welcome</span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/user/profile}">
                            <span>
                                <i class="fas fa-user-circle amber-text" style="padding-right: 2px;"></i>
                                <span th:text="#{profile}">profile</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post">
                            <a class="nav-link"
                               th:href="@{/logout}">
                                <span>
                                    <i class="fas fa-sign-out-alt amber-text" style="padding-right: 2px;"></i>
                                    <span th:text="#{logout}">logout</span>
                                </span>
                            </a>
                        </form>
                    </li>
                </ul>

                <!-- Admin Links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="isAuthenticated()
                                   and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                   and hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <form method="post">
                            <a class="nav-link"
                               th:href="@{/logout}">
                                <span>
                                    <i class="fas fa-sign-out-alt amber-text" style="padding-right: 2px;"></i>
                                    <span th:text="#{logout}">logout</span>
                                </span>
                            </a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           data-toggle="modal" data-target="#modalChangePasswordForm">
                            <span>
                                <i class="fas fa-key amber-text" style="padding-right: 2px;"></i>
                                <span th:text="#{changePassword}">change password</span>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Collapsible content -->
        </div>
    </nav>
</header>
</body>
</html>