<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<header th:fragment="header">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">
        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"
               th:href="@{/index.html}"
               sec:authorize="!isAuthenticated()
                              or hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                              or hasAuthority('USER')"><span class="brand-shadow">
                Monad Computer</span></a>

            <!-- Admin Navbar brand -->
            <a class="navbar-brand" href="#"
               th:href="@{/admin/console.html}"
               sec:authorize="isAuthenticated()
                              and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                              and hasAuthority('ADMIN')"><span class="brand-shadow">
                Monad Computer</span></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Visitor links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="!isAuthenticated()
                                   or hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:text="#{login.link.label}"
                           th:href="@{/login}">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:text="#{registration.link.label}"
                           th:href="@{/registration/form}">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:text="#{contact.link.label}">contact</a>
                    </li>
                </ul>

                <!-- User Links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="isAuthenticated()
                                   and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                   and hasAuthority('USER')">
                    <li class="nav-item">
                        <span th:text="#{welcome.message(${session.fullName})}"
                              class="nav-link">welcome</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile}"
                           th:text="#{profile.link.label}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <form method="post">
                            <a class="nav-link" th:href="@{/logout}"
                               th:text="#{logout.link.label}">register</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:text="#{contact.link.label}">contact</a>
                    </li>
                </ul>

                <!-- Admin Links -->
                <ul class="navbar-nav ml-auto"
                    sec:authorize="isAuthenticated()
                                   and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                   and hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <form method="post">
                            <a class="nav-link" th:href="@{/logout}"
                               th:text="#{logout.link.label}">register</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:text="#{admin.change.password.link.label}"
                           data-toggle="modal" data-target="#modalChangePasswordForm">change password</a>
                    </li>
                </ul>

            </div>
            <!-- Collapsible content -->
        </div>
    </nav>

    <!--/.Navbar-->
</header>
</body>
</html>