<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{passwordResetForm.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="welcome" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{resetPassword})"></h1>
            </section>

            <hr>

            <section id="reset" class="mb-3">

                <!-- Message -->
                <p th:text="#{passwordResetForm.message}">send</p>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 col-12">

                        <!-- Form -->
                        <form th:action="@{/password/reset/send}" method="get">

                            <div class="md-form input-group mb-3">
                                <input type="email"
                                       id="email"
                                       class="form-control"
                                       name="email"
                                       required>
                                <label for="email"
                                       th:text="#{email}">email
                                </label>
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-indigo m-0 px-3"
                                            type="submit"
                                            th:text="#{send}">send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>