<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{passwordUpdateForm.title})"></head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>

<div class="container">
    <main class="mb-3 main-top-margin">

        <!-- Page Heading -->
        <section id="welcome" class="mb-3">
            <h1 th:replace="fragments/headingFragment :: heading(#{updatePassword})">
                heading</h1>
        </section>

        <hr>

        <!-- Update Password -->
        <section id="updatePassword" class="mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 col-10">

                    <div class="card">

                        <h5 class="card-header indigo white-text text-center py-4">
                            <strong th:text="#{newPassword}">password</strong>
                        </h5>

                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;"
                                  th:action="@{/password/reset/update}"
                                  th:object="${passwordCommand}"
                                  method="post">

                                <!-- Password -->
                                <div class="md-form">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           th:field="*{password}">
                                    <label for="password"
                                           th:text="#{password}">
                                        password</label>
                                    <small id="passwordHelpBlock"
                                           class="form-text text-muted mb-4"
                                           th:text="#{password.strength.message}">
                                        at least 8 characters and 1 digit
                                    </small>
                                    <p th:each="error : ${#fields.errors('password')}"
                                       th:text="${error}" class="text-danger">error</p>
                                </div>

                                <!-- Confirm Password -->
                                <div class="md-form">
                                    <input type="password"
                                           id="confirmPassword"
                                           class="form-control"
                                           th:field="*{matchingPassword}">
                                    <label for="confirmPassword"
                                           th:text="#{confirmPassword}">
                                        password</label>
                                    <p th:each="error : ${#fields.errors('matchingPassword')}"
                                       th:text="${error}" class="text-danger">error</p>
                                    <p th:if="${#fields.hasGlobalErrors()}"
                                       th:text="#{passwords.are.not.matched}"
                                       class="text-danger">error</p>
                                </div>

                                <!-- Submit Button -->
                                <button class="btn btn-outline-indigo btn-rounded btn-block my-4 waves-effect z-depth-0"
                                        type="submit"
                                        th:text="#{submit}">submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer th:replace="fragments/footerFragment :: footer"></footer>
<div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>