<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{internal.server.error.page.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{internal.server.error.page.heading})"></h1>
            </section>

            <hr>

            <section id="message" class="mb-3">
                <p th:text="${exception.getMessage()}">exception</p>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>