<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/headFragment :: head(#{index.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <!-- Page Heading -->
            <section id="heading" class="mb-3">
                <h1 th:replace="fragments/headingFragment :: heading(#{welcome})"></h1>
            </section>

            <hr>

            <!-- Message -->
            <section id="welcome" class="mb-3">
                <span sec:authorize="!isAuthenticated()
                                     or hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                     or hasAuthority('ADMIN')">
                    <span th:text="#{index.welcome.message}">share your thoughts</span>
                    <a th:href="@{/login}"
                       th:text="#{login}"
                       style="font-weight: bold;">login</a>
                </span>
                <span sec:authorize="isAuthenticated()
                                     and !hasAuthority('CHANGE_PASSWORD_PRIVILEGE')
                                     and !hasAuthority('ADMIN')">
                    <span th:text="#{index.new.post.message}">add your thoughts</span>
                    <a th:href="@{/user/create/post/form}"
                       th:text="#{newPost}"
                       style="font-size: large; font-weight: bold;">post</a>
                </span>
            </section>

            <!-- Search by Title -->
            <section id="searchByTitle" class="mb-5 mt-4">
                <div class="card white" width="100%">
                    <div class="card-body p-0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-8 col-12">

                                <!-- Form -->
                                <form th:action="@{/visitor/post/search}" method="get">

                                    <div class="md-form input-group mb-3">
                                        <input type="text"
                                               id="search"
                                               class="form-control"
                                               name="title"
                                               th:value="${postSearchListDto.searchValue}">
                                        <label for="search"
                                               th:text="#{searchByTitle}">search
                                        </label>
                                        <div class="input-group-append">
                                            <button class="btn btn-lg btn-indigo m-0 px-3"
                                                    type="submit"
                                                    th:text="#{submit}">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- No Posts -->
            <section id="noPosts"
                     class="mb-3 text-center"
                     th:if="${#lists.isEmpty(postSearchListDto.postSearchDtos)}">
                <span th:text="#{noPosts}"
                      style="font-weight: bold">no posts</span>
            </section>

            <!-- Search Result -->
            <section id="result" class="mb-3"
                     th:if="${!#lists.isEmpty(postSearchListDto.postSearchDtos)}">
                <div class="row">

                    <!-- Individual Post -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-8"
                         th:each="postSearchDto : ${postSearchListDto.postSearchDtos}">

                        <div class="card mb-4">

                            <!-- Post Photo -->
                            <div class="view overlay">
                                <img class="card-img-top"
                                     th:src="@{/visitor/post/{postId}/photo(postId=${postSearchDto.id})}"
                                     width="300"
                                     height="200">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"
                                    th:text="${postSearchDto.title}">title</h4>

                                <!-- Body -->
                                <p class="card-text"
                                   th:text="${postSearchDto.body}">
                                    Some quick example
                                </p>

                                <!-- Button -->
                                <a href="#" class="btn btn-indigo btn-sm"
                                   th:text="#{view}"
                                   th:href="@{/visitor/post/{postId}/details(postId=${postSearchDto.id})}">
                                    Button
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- Pagination -->
            <section id="pagination" class="mb-3"
                     th:if="${!#sets.isEmpty(postSearchListDto.postSearchDtos)}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item"
                            th:each="i : ${postSearchListDto.pageNumbers}"
                            th:classappend="${postSearchListDto.currentPage  == i} ? active : ''">
                            <a th:text="${i}"
                               class="page-link"
                               th:href="@{/visitor/post/search(page=${i})}">1</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>