<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head(#{index.page.title})"></head>
<body>
    <header th:replace="fragments/headerFragment :: header"></header>

    <div class="container">
        <main class="mb-3 main-top-margin">

            <section id="#welcome" class="mb-5">
                <h4 th:text="#{index.page.welcome.heading}" class="display-4">welcome</h4>
                <span th:text="#{index.page.welcome.message}">share your thoughts</span>
                <a th:href="@{/login}" th:text="#{login.link.label}">login</a>
            </section>

            <section id="search" class="mb-3">
                Search
            </section>
            <section id="result">
                Search Result
            </section>
        </main>
    </div>

    <footer th:replace="fragments/footerFragment :: footer"></footer>
    <div th:replace="fragments/scriptsFragment :: scripts"></div>
</body>
</html>